@import "./partials/variables";
@import "./partials/nav";
@import "./partials/base";
@import "./partials/home";
@import "./partials/heading";
@import "./partials/typography";
@import "./partials/footer";
@import "./partials/shop";
@import "./partials/about";
@import "./partials/detail";
@import "./partials/cart";
@import "./partials/login";
@import "./partials/add.scss";


