.cart-container {
  padding-top: 19px;
}
.cart {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin: 0 auto;
}

.cart-content {
  width: 300px;
  height: 100px;
  background: getColour(third-color);
}

.basket-count {
  width: 4%;
  border-radius: 50%;
  background: getColour(fourth-color);
  color: getColour(third-color);
}
