.contact-container {
  padding-top: 15px;
}

.contactFormH {
  text-align: center;
}

.contact-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-head {
  color: getColour(secondary-color);
  text-align: center;
  font-size: 34px;
}

h3 {
  color: getColour(secondary-color);
}
.contactContent p {
  font-size: 18px;
}
.contactContent {
  width: 250px;
}
.form-wrapper {
  width: 600px;
}

.formContonainer {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.form-content {
  max-width: 250px;
}

.inputContentContact input {
  width: 250px;
  height: 35px;
}

textarea {
  width: 250px;
  height: 180px;
}

.submit-contact-div {
  display: flex;
  justify-content: center;
}
.contact-btn {
  border: 3px solid getColour(primary-color);
  background: getColour(primary-color);
  color: getColour(fourth-color);
  width: 150px;
  height: 40px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 21px;

  &:hover {
    background: getColour(third-color);
  }
}

.adress-cont {
  color: getColour(secondary-color);
}
.openingHour {
  color: getColour(primary-color);
}

.map {
  padding: 10px;
  max-width: 1100px;
  margin: 35px auto;
}

.map iframe {
  max-width: 1070px;
  height: 450px;
  margin: 0 auto;
}
