.edit-container {
  max-width: 320px;
  margin: 2px auto;
}
.edit-head {
  color: getColour(secondary-color);
  text-align: center;
  font-size: 34px;
}
.edit-product-btn {
  margin: 10px 0px;
  border: 3px solid getColour(primary-color);
  background: getColour(primary-color);
  color: getColour(third-color);
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 21px;
  &:hover {
    color: getColour(primary-color);
    background: getColour(third-color);
  }
}
/*
.delete-container{
  margin: 10px 0px;
  border: 3px solid red;
  background: red;
  color: white; 
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 21px;
  &:hover {
    color: white;
    background: red;
  }
}
*/
