$colours: (
  primary-color: #ffb500,
  further-primary-color: #B0800A,
  secondary-color: #7997f7,
  further-secondary-color: hsl(225, 33%, 48%),
  third-color: #ffffff,
  fourth-color: #0d0d0d,
  header-background: #272626,
);

$primary-font: "Poppins", sans-serif;
$secondary-font: "IBM Plex Serif", serif;

@function getColour($colour) {
  @return map-get($colours, $colour);
}

$tablet-width: 1124px;
